$text-signal-color: #e21e79;


// Overidde Hyde theme's theme-base-0d color
.theme-base-0d {


  .page-title, .post-title {
      color: $text-signal-color;

      > a {
        color: darken( $text-signal-color, 10%);
        color: $text-signal-color;
      }
  }


}
